$primary: #605DEC;
$primary-hover:#3D3ACE;
$primary-active: #23209f;
$danger: #ff3b30;
$danger-light: rgba($danger, 0.5);
$danger-background: rgba($danger, 0.05);
$danger-link-hover: #a53d3d;
$text-color: white;